@import 'syntax-variables';

.syntax--java {
  &.syntax--new {
    color: @very-pink !important;
  }

  &.syntax--type {
    font-style: normal;
  }

  &.syntax--object {
    color: @blue;
  }

  &.syntax--annotation {
    color: @orange;
  }

  &.syntax--import {
    color: darken(@pink, 15%);
  }
}
